#top_header{
  display:flex;
  background-color:rgb(45, 21, 177);
  background-color: #333; 
color: #fff; 
padding: 10px;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

#top_header {
  background-color: #DAA38F;
  color: #fff;
  padding: 20px;
}

nav {
  flex: 1;
  background-color: #DAA38F;
}



#parent{
  display: flex;
  flex-direction: row;
}

#login_p {
  margin: 10px;
  padding: 10px;
  background-color: #FED8A6;
  min-width: 200px;
}

#ad{
margin: 10px;
padding: 10px;
}

#image{
float: left;  
max-height: 500px;
}

p{
display: flex;

}

h3{
font-weight: bold;
}

.card{
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

#card-title{
  display: flex;
  
}

#school, #detail{
  border: 1px solid gray;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;	
}

#foot{
  display:flex;
  align-items: center;
  background-color: #E9D7C0;
  margin: 10px;
  
}

